{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["add-module-exports", "react-hot-loader/babel"],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}