.array-container {

  margin-bottom: 15px;
  .array-container-content {

    .array-container-item {

      padding-left: 10px;

      .array-container-item-options {
        margin-left: -15px;
      }

    }
  }

  .add-bar {
    padding-left: 10px;
  }

}


