.field-group {
  margin-bottom: 0;
}

.col-fixed-90, .col-fixed-140, .col-fixed-210,
.col-offset-90, .col-offset-140, .col-fixed-210 {
  padding-left: @grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;
}

@media only screen and (min-width: 768px) {
  .col-fixed-90, .col-fixed-140, .col-fixed-210 {
    float: left;
    text-align: right;
    padding-right: 0;
  }

  .col-offset-90, .col-offset-140, .col-fixed-210 {
    float: left;
    width: calc(~"100% - 140px");
  }

  .col-fixed-90 {
    width: 90px;
  }

  .col-fixed-140 {
    width: 140px;
  }

  .col-fixed-210 {
    width: 210px;
  }
}